@model Com.MrIT.ViewModels.VmMrUser
@{
    ViewData["SuperTitle"] = "User";
    ViewData["Title"] = "My Account";
    Layout = "~/Views/Shared/_Layout_Public.cshtml";
}
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <div class="row mb-3">
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-8 col-12">
                        <img id="img_profile" src="data:image/png;base64,@Model.strProfileImage" alt="Profile Image" style="width:200px;height:200px;" />
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-3 col-5">
                        <label asp-for="FullName" class="control-label"></label>
                    </div>
                    <div class="col-md-8 col-6">
                        @Model.FullName
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-3 col-5">
                        <label asp-for="Email" class="control-label"></label>
                    </div>
                    <div class="col-md-8 col-6">
                        @Model.Email
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-3 col-5">
                        <label asp-for="MobileNo" class="control-label"></label>
                    </div>
                    <div class="col-md-3 col-6">
                        @if (string.IsNullOrEmpty(Model.MobileNo))
                        {
                            <span>-</span>
                        }
                        else
                        {
                            @Model.MobileNo
                        }
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-3 col-5">
                        <label asp-for="Address" class="control-label"></label>
                    </div>
                    <div class="col-md-8 col-6">
                        @if (string.IsNullOrEmpty(Model.Address))
                        {
                            <span>-</span>
                        }
                        else
                        {
                            @Model.Address
                        }
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-3 col-5">
                        <label asp-for="State" class="control-label"></label>
                    </div>
                    <div class="col-md-8 col-6">
                        @if (string.IsNullOrEmpty(Model.State))
                        {
                            <span>-</span>
                        }
                        else
                        {
                            @Model.State
                        }
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-3 col-5">
                        <label asp-for="City" class="control-label"></label>
                    </div>
                    <div class="col-md-8 col-6">
                        @if (string.IsNullOrEmpty(Model.City))
                        {
                            <span>-</span>
                        }
                        else
                        {
                            @Model.City
                        }
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-3 col-5">
                        <label asp-for="Country" class="control-label"></label>
                    </div>
                    <div class="col-md-8 col-6">
                        @if (string.IsNullOrEmpty(Model.Country))
                        {
                            <span>-</span>
                        }
                        else
                        {
                            @Model.Country
                        }
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-3 col-5">
                        <label asp-for="PostalCode" class="control-label"></label>
                    </div>
                    <div class="col-md-8 col-6">
                        @if (string.IsNullOrEmpty(Model.PostalCode))
                        {
                            <span>-</span>
                        }
                        else
                        {
                            @Model.PostalCode
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <h3>Account Settings</h3>
                    </div>
                    <div class="col-sm-8">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <a class="btn btn-block btn-warning m-sm-3" href='@Url.Action("ProfileEdit","Users")'>Edit Profile</a>
                    </div>
                    <div class="col-sm-3">
                        <a class="btn btn-block btn-primary m-sm-3 mt-2" data-toggle="modal" data-target="#modal-change-password">Change Password</a>
                    </div>
                    <div class="col-sm-3">
                        <a class="btn btn-block btn-danger m-sm-3 mt-2" data-toggle="modal" data-target="#modal-disable">Disable Account</a>
                    </div>
                </div>

                <div class="modal fade" id="modal-disable" style="display: none;" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Disable Account</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <label for="password">Confirm Password</label>
                                <input type="password" id="password" name="password" class="form-control" placeholder="Password" required />
                                <span class="text-danger" id="passwordError"></span>
                            </div>
                            <div class="modal-footer justify-content-between">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-danger" id="btnDisableAccount">Disable</button>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <div class="modal fade" id="modal-change-password" style="display: none;" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Change Password</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <input type="password" id="currentPassword" name="currentPassword" class="form-control" placeholder="Current Password" required autofocus/>
                                    <span class="text-danger" id="currentPasswordError"></span>
                                </div>
                                <div class="form-group">
                                    <input type="password" id="newPassword" name="newPassword" class="form-control" placeholder="New Password" required />
                                    <span class="text-danger" id="newPasswordError"></span>
                                </div>
                                <div class="form-group">
                                    <input type="password" id="confirmNewPassword" name="confirmNewPassword" class="form-control" placeholder="Re-type New Password" required />
                                    <span class="text-danger" id="confirmNewPasswordError"></span>
                                </div>
                            </div>
                            <div class="modal-footer justify-content-between">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-danger" id="btnChangePassword">Change</button>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
            </div>
        </div>
    </div>
   
</div>
<script>
    $('#btnDisableAccount').on('click', function () {
        let pass = $('#password').val();
        let ajaxurl = '../Users/DisableAccount';
        $.ajax({
            url: ajaxurl,
            data: { Password: pass },
            dataType: 'json',
            success: function (response) {
                if (response.IsSuccess) {
                    var fullName = $('#FullName').val();
                    alert("'" + fullName + "' Account Disabled");
                    window.location.href = window.location + "/Users/SignOut";       
                    $('#passwordError').html("SUCCESS");
                } else {
                    $('#passwordError').html(response.MessageToUser);
                }
            },
            error: function (response) {
                alert(response)
            }
        });
    });

    $('#btnChangePassword').on('click', function () {
        let currentPass = $('#currentPassword').val();
        let newPass = $('#newPassword').val();
        let confirmNewPass = $('#confirmNewPassword').val();
        let ajaxurl = '../Users/ChangePassword';
        console.log(currentPass + ' ' + newPass + ' ' + confirmNewPass);
        if (confirmNewPass != newPass) {
            $('#confirmNewPassword').val('');
            alert("Password do not match.");
        }
        else {
            $.ajax({
                url: ajaxurl,
                data: { CurrentPassword: currentPass, NewPassword: newPass },
                dataType: 'json',
                success: function (response) {
                    if (response.IsSuccess) {
                        $('#currentPassword').val('');
                        $('#newPassword').val('');
                        $('#confirmNewPassword').val('');
                        $('#modal-change-password').modal('hide');
                        alert("Password changed sucessfully.");
                        $('#currentPasswordError').html('');
                    } else {
                        $('#currentPasswordError').html(response.MessageToUser);
                    }
                },
                error: function (response) {
                    alert(response)
                }
            });
        }        
    });
</script>